*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: #ffffff;
}
img{
    display: block;
    max-width: 100%;
}
.container{
    width: 1170px; 
    margin: 0 auto;

}


.menu{
display: flex;
justify-content: space-between;
align-items: center;

}
.home{
    width: 533px;
    display: flex;
    justify-content: space-between;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    line-height: 16px;
}

.logo{
    align-self: left;
    margin-right: 500px;
    display: flex;
}

main{
    margin: 84px 0 259px 0;

}
footer{
    margin: 0 0 96px 0;
}
.content{
    width: 522px;
}
.cornerlog{
    margin-right: 500px;
}
.toptext{
    font-family: Gilroy-Bold;
    font-size: 60px;
    line-height: 70px;
    color: black;
    margin-bottom: 17px;
}
.bottomtext{
    font-family: Gilroy-Medium;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    width: 466px;
    margin-bottom: 37px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 72px;
}
.button1{
    padding: 15px 35px;
    font-family: Gilroy-Bold;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    background-color: #F25822;
    border: none;
    outline: none;
    cursor: pointer;
}
.bottom_logo{
    display: flex;
    justify-content: space-between;
}
.first{
    color: #F25822;
    text-decoration: none;
}

.section{
    display: flex;
    gap: 40px;
}

.main_image{
    height: 372.9037170410156px;
    width: 610.73486328125px;
    left: 70px;
    top: -221px;
    border-radius: 0px;
}
.button2{
    font-family: Gilroy-Bold;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}
.navig_link{
    color: black;
}
@font-face {
    font-family: Gilroy-Bold;
    src: url(/font/Gilroy-Bold.woff2);
}
@font-face {
    font-family: Gilroy-Semibold;
    src: url(/font/Gilroy-Semibold.woff2);
}
@font-face {
    font-family: Gilroy-Medium;
    src: url(/font/Gilroy-Medium.woff2);
}